{% extends "base.html" %}
{% block header %}Proyecto TICs - Entrar{% endblock %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <div><p style="color:green">{{msg}}</p></div>
      {% endfor %}
    {% endif %}
  {% endwith %}
<style>
	h3 {text-align: center;}
</style>
<div>
	<h3>Panel de administrador</h3>
	<p>Este es el panel de administrador. Desde aquí puedes eliminar o ascender usuarios</p>
</div>
<form method="post">
  <div class="form-group">
    <label for="exampleInputPassword1">Usuario al que eliminar</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Usuario" name="ur">
  </div>
  <div>
  	<button type="submit" class="btn btn-danger">Eliminar</button>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Usuario al que hacer administrador</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Usuario" name="ua">
  </div>
  <div>
    <button type="submit" class="btn btn-danger">Ascender</button>
  </div>
</form>
{% endblock %}
