{% extends "base.html" %}
{% block header %}Proyecto TICs - Página de inicio{% endblock %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}      
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{msg}}
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endblock %}
{% block banner %}
<img id="banner" src="http://u.cubeupload.com/lolero2003/archivo.jpg" style="width: 100%;
     height: auto;" alt="banner">
{% endblock %}
{% block index %}
<p style="text-align: justify;margin-top:20px"><span style="font-size: 12px;"><span style="font-size:12pt;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><span style="font-size: 12px;"><span style="font-size:12pt;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">En &quot;archivo&quot; vas a encontrar recursos para estudiantes de todas las edades, estos recursos son seleccionados de nuestros foros. Acude a los foros para preguntar otras preguntas o pulicar m&aacute;s material. Esta es una página en constante expansión. </span></span></span></span></p>
<h3>Temas</h3>
<ul class="list-group">
  <li class="list-group-item"><a href="#Mates">Matemáticas 🧮</a></li>
  <li class="list-group-item"><a href="#Fisica">Física 💪</a></li>
  <li class="list-group-item"><a href="#Quimica">Química 🧪</a></li>
  <li class="list-group-item"><a href="#Lengua">Lengua 👅</a></li>
  <li class="list-group-item"><a href="#Filo">Filosofía 🤔</a></li>
  <li class="list-group-item">🚧 Pendiente de expansión 🚧</li>  
</ul>
<h3 id="Mates">Matemáticas 🧮</h3>
<ul class="list-group">
  <li class="list-group-item"><a href="#M_1">1º Bachillerato</a></li>
  <li class="list-group-item"><a href="#M_2">2º Bachillerato</a></li>  
</ul>
<h5 id="M_1">1º Bachillerato</h5>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Trigonometría
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p><a href="https://drive.google.com/file/d/11nY_EnV7umnS0CWBM3RDT25DvAK-jy7p/view?usp=sharing">Fórmulas</a></p>
        <p><a href="https://www.youtube.com/watch?v=KNKtro9N0nE">Vídeo resolución de triángulos - Unicoos</a></p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Geometría analítica
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p><a href="https://www.youtube.com/watch?v=8jX7bzx-PK0">Vídeo resumen de geometría analítica</a></p>
        <p><a href="https://ibb.co/VDVrT4k">Fórmulas de geometría analítica</a></p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Derivadas
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <a href="https://www.calculadora-de-derivadas.com/"><p>Calculadora de derivadas</p></a>
        <a href="https://www.youtube.com/watch?v=uK4-s0ojHFg"><p>Vídeo de introducción a derivadas - Matemáticas profe Alex</p></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Análisis de funciones
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <p><a href="https://www.youtube.com/watch?v=o2UTk8bsLS0">Vídeo límites - Matemáticas profe Alex</a></p>
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Estadística
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <p><a href="https://docs.google.com/spreadsheets/d/1dWICJmD-0T4JU-b3M_e9pUf2VSXC423LiGq_Ayn3Alk/edit?usp=sharing">Spreadsheets - Tabla de estadística</a></p>
        <p><a href="https://www.youtube.com/watch?v=Jwulx_AvVBc">Vídeo - Unicoos</a></p>
        <p><a href="https://ibb.co/kyPSZ9q">Fórmulas</a></p>
      </div>
    </div>
  </div>
</div>
<h5 id="M_2">2º Bachillerato</h5>
<p>🚧 Pendiente de expansión 🚧</p>
<h3 id="Fisica">Física 💪</h3>
<ul class="list-group">
  <li class="list-group-item"><a href="#F_1">1º Bachillerato</a></li>
  <li class="list-group-item"><a href="#F_2">2º Bachillerato</a></li>  
</ul>
<h5 id="F_1">1º Bachillerato</h5>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Dinámica
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p><a href="https://drive.google.com/file/d/11nY_EnV7umnS0CWBM3RDT25DvAK-jy7p/view?usp=sharing">Fórmulas</a></p>
        <p><a href="https://www.youtube.com/watch?v=KNKtro9N0nE">Vídeo resolución de triángulos - Unicoos</a></p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Gravitación
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p><a href="https://www.youtube.com/watch?v=8jX7bzx-PK0">Vídeo resumen de geometría analítica</a></p>
        <p><a href="https://ibb.co/VDVrT4k">Fórmulas de geometría analítica</a></p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          MAS
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <a href="https://www.calculadora-de-derivadas.com/"><p>Calculadora de derivadas</p></a>
        <a href="https://www.youtube.com/watch?v=uK4-s0ojHFg"><p>Vídeo de introducción a derivadas - Matemáticas profe Alex</p></a>
      </div>
    </div>
  </div>
</div>
<h5 id="F_2">2º Bachillerato</h5>
<p>🚧 Pendiente de expansión 🚧</p>
<h3 id="Quimica">Química 🧪</h3>
<ul class="list-group">
  <li class="list-group-item"><a href="#Q_1">1º Bachillerato</a></li>
  <li class="list-group-item"><a href="#Q_2">2º Bachillerato</a></li>  
</ul>
<h5 id="Q_1">1º Bachillerato</h5>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          REDOX
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p><a href="https://drive.google.com/file/d/11nY_EnV7umnS0CWBM3RDT25DvAK-jy7p/view?usp=sharing">Fórmulas</a></p>
        <p><a href="https://www.youtube.com/watch?v=KNKtro9N0nE">Vídeo resolución de triángulos - Unicoos</a></p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Química orgánica
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p><a href="https://www.youtube.com/watch?v=8jX7bzx-PK0">Vídeo resumen de geometría analítica</a></p>
        <p><a href="https://ibb.co/VDVrT4k">Fórmulas de geometría analítica</a></p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Química inorgánica
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <a href="https://www.calculadora-de-derivadas.com/"><p>Calculadora de derivadas</p></a>
        <a href="https://www.youtube.com/watch?v=uK4-s0ojHFg"><p>Vídeo de introducción a derivadas - Matemáticas profe Alex</p></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Estequiometría
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <p><a href="https://www.youtube.com/watch?v=o2UTk8bsLS0">Vídeo límites - Matemáticas profe Alex</a></p>
      </div>
    </div>
  </div>
</div>
<h5 id="Q_2">2º Bachillerato</h5>
<p>🚧 Pendiente de expansión 🚧</p>
<h3 id="Lengua">Lengua 👅</h3>
<ul class="list-group">
  <li class="list-group-item"><a href="#L_1">1º Bachillerato</a></li>
  <li class="list-group-item"><a href="#L_2">2º Bachillerato</a></li>  
</ul>
<h5 id="L_1">1º Bachillerato</h5>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Sintáxis
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p><a href="https://drive.google.com/file/d/11nY_EnV7umnS0CWBM3RDT25DvAK-jy7p/view?usp=sharing">Fórmulas</a></p>
        <p><a href="https://www.youtube.com/watch?v=KNKtro9N0nE">Vídeo resolución de triángulos - Unicoos</a></p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Literatura
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p><a href="https://www.youtube.com/watch?v=8jX7bzx-PK0">Vídeo resumen de geometría analítica</a></p>
        <p><a href="https://ibb.co/VDVrT4k">Fórmulas de geometría analítica</a></p>
      </div>
    </div>
  </div>
<h5 id="L_2">2º Bachillerato</h5>
<p>🚧 Pendiente de expansión 🚧</p>
<h3 id="Filo">Filosofía 🤔</h3>
<ul class="list-group">
  <li class="list-group-item"><a href="#Fi_1">1º Bachillerato</a></li>
  <li class="list-group-item"><a href="#Fi_2">2º Bachillerato</a></li>  
</ul>
<h5 id="Fi_1">1º Bachillerato</h5>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Hegel
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p><a href="https://drive.google.com/file/d/11nY_EnV7umnS0CWBM3RDT25DvAK-jy7p/view?usp=sharing">Fórmulas</a></p>
        <p><a href="https://www.youtube.com/watch?v=KNKtro9N0nE">Vídeo resolución de triángulos - Unicoos</a></p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Kant
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p><a href="https://www.youtube.com/watch?v=8jX7bzx-PK0">Vídeo resumen de geometría analítica</a></p>
        <p><a href="https://ibb.co/VDVrT4k">Fórmulas de geometría analítica</a></p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Cosmovisiones
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <a href="https://www.calculadora-de-derivadas.com/"><p>Calculadora de derivadas</p></a>
        <a href="https://www.youtube.com/watch?v=uK4-s0ojHFg"><p>Vídeo de introducción a derivadas - Matemáticas profe Alex</p></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Ética
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <p><a href="https://www.youtube.com/watch?v=o2UTk8bsLS0">Vídeo límites - Matemáticas profe Alex</a></p>
      </div>
    </div>
  </div>
</div>
<h5 id="Fi_2">2º Bachillerato</h5>
<p>🚧 Pendiente de expansión 🚧</p>
<div class="card">
  <div class="card-header">
    ¡Gracias!
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Parece que has llegado al final de la página.</p>
      <p style="font-size:80%;">Espero que te haya gustado</p>
    </blockquote>
  </div>
</div>
{% endblock %}