{% extends "base.html" %}
{% block header %}Proyecto TICs - Página de inicio{% endblock %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}      
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{msg}}
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endblock %}
{% block banner %}
<img id="banner" src="https://u.cubeupload.com/lolero2003/banner.jpg" style="width: 100%;
     height: auto;" alt="banner">
{% endblock %}
{% block index %}
<h3>Introducción 🖥️</h3>
<img src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" width="140" height="140" class="rounded float-right" alt="imagen">
<p style="font-size:13pt;text-align:justify;margin-right: 180px;">
Esta es mi primera página web creada desde cero. Antes había creado otras páginas web partiendo desde wordpress, que lo hace mucho más sencillo y sin necesidad de programar nada si no quieres. En esta página web he realizado todo el código desde cero ya que te da mucho más control sobre toda tu página, el back-end está escrito en python (con el módulo de Flask) y el front-end ha sido escrito en una mezcla de <abbr title="HyperText Markup Language" class="initialism">HTML</abbr>(Principalmente) y CSS(Para decoraciones).</p>
<p style="font-size:13pt;text-align:justify;">He decidido crear una página web realista, para ello he dividido la página en dos partes, debajo del apartado de información esta todo los relacionado con el desarrollo de la página mientras que los apartados "Guía", "Foro" y "Sobre nosotros" hablan de el tema que he elegido.
</p><hr>
<div class="card-deck">
  <div class="card">
    <img src="https://media.giphy.com/media/KAq5w47R9rmTuvWOWa/source.gif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Python</h5>
      <p class="card-text">Python es un lenguaje de programación que empezó en 1991 pero ha ganado mucha popularidad recientemente.</p>
    </div>
  </div>
  <div class="card">
    <img src="https://media.giphy.com/media/fuJPZBIIqzbt1kAYVc/source.gif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">HTML, CSS y JS</h5>
      <p class="card-text">Estos 3 lenguajes son usados para crear la parte visual de la página. El más importante es <abbr title="HyperText Markup Language" class="initialism">HTML</abbr> lanzado en 1992.</p>
    </div>
  </div>
  <div class="card">
    <img src="https://media.giphy.com/media/t0pY46oDFROda/source.gif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bootstrap</h5>
      <p class="card-text">Bootstrap es un conjunto de archivos de CSS y JS que ayudan a la creación de páginas web ahoraando mucho trabajo.</p>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    ¡Gracias!
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Parece que has llegado al final de la página.</p>
      <p style="font-size:80%;">Espero que te haya gustado</p>
    </blockquote>
  </div>
</div>
{% endblock %}