{% extends "base.html" %}
{% block header %}Proyecto TICs - Post{% endblock %}
{% block body %}
<form method="POST" style="margin-top: 20px;">
  <div class="form-group">
    <label for="exampleInputEmail1">Título</label>
    <input type="text" maxlength="100" class="form-control" value="{{ ti }}" name="Title" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Tema</label>
    <select name="Theme" class="form-control" id="exampleFormControlSelect1">
      {% if th == "Química" %}
        <option>Matemáticas</option>
        <option>Física</option>
        <option selected="selected">Química</option>
        <option>Lengua</option>
        <option>Filosofía</option>
      {% elif th == "Física" %}
        <option>Matemáticas</option>
        <option selected="selected">Física</option>
        <option>Química</option>
        <option>Lengua</option>
        <option>Filosofía</option>
      {% elif th == "Lengua" %}
        <option>Matemáticas</option>
        <option>Física</option>
        <option>Química</option>
        <option selected="selected">Lengua</option>
        <option>Filosofía</option>
      {% elif th == "Filosofía" %}
        <option>Matemáticas</option>
        <option>Física</option>
        <option>Química</option>
        <option>Lengua</option>
        <option selected="selected">Filosofía</option>
      {% else %}
        <option selected="selected">Matemáticas</option>
        <option>Física</option>
        <option>Química</option>
        <option>Lengua</option>
        <option>Filosofía</option>
      {% endif %}
    </select>
  </div>
  <div class="form-group">
    <label>Contenido</label>
    <textarea class="form-control" style="height:200px;resize:none;" name="content">{{ co }}</textarea>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Publicar</button>
  </div>
</form>
{% endblock %}