{% extends "base.html" %}
{% block header %}Proyecto TICs - Pruebas{% endblock %}
{% block body %}
<style>
			h3 {text-align: center;}
			div {
			  margin-right: 70px;
			  margin-left: 70px;
			}
		</style>
<h3>Pruebas ⚙️</h3>
<div class="card">
  <div class="card-header">
    ¡Gracias!
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Parece que has llegado al final de la página.</p>
      <p style="font-size:80%;">Espero que te haya gustado</p>
    </blockquote>
  </div>
</div>
{% endblock %}