{% extends "base.html" %}
{% block header %}Proyecto TICs - Referencias{% endblock %}
{% block body %}
<h3>Referencias</h3>
<div>
	<p>Adjunto aquí todas las páginas web o programas que he usado para crear esta web.</p>
	<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Tipo</th>
      <th scope="col">Uso</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Sublime text 3</td>
      <td>💾</td>
      <td>Editor de texto</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Emojipedia</td>
      <td>🌐</td>
      <td>Emojis de copia y pega</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Bootstrap</td>
      <td>💾/🌐</td>
      <td>Librería de archivos CSS y JS, con documentación online</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>imgBB / cubeupload</td>
      <td>🌐</td>
      <td>Subida de fotos online</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Python</td>
      <td>💾</td>
      <td>Lenguaje de programación</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Flask</td>
      <td>💾/🌐</td>
      <td>Librería para python y su documentación</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Photoshop</td>
      <td>💾</td>
      <td>Editor de fotos</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Giphy</td>
      <td>🌐</td>
      <td>GIFs online</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Editor HTML</td>
      <td>🌐</td>
      <td>Convierte texto a HTML</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>GitHub</td>
      <td>🌐</td>
      <td>Subir los archivos</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>StackOverflow</td>
      <td>🌐</td>
      <td>Preguntas sobre programación</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>Youtube</td>
      <td>🌐</td>
      <td>Guías y tutoriales</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>w3schools</td>
      <td>🌐</td>
      <td>Guías y tutoriales</td>
    </tr>
  </tbody>
</table>
</div>
<div class="card">
  <div class="card-header">
    ¡Gracias!
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Parece que has llegado al final de la página.</p>
      <p style="font-size:80%;">Espero que te haya gustado</p>
    </blockquote>
  </div>
</div>
{% endblock %}