{% extends "base.html" %}
{% block header %}Proyecto TICs - Registrate{% endblock %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <div><p style="color:red">{{msg}}</p></div>
      {% endfor %}
    {% endif %}
  {% endwith %}
<style>
  h3 {text-align: center;}
</style>
<h3>Registro</h3>
<form method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Usuario</label>
    <input type="text" name="nm" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Usuario">
    <small id="emailHelp" class="form-text text-muted">Nombre con el que quieras que se te reconozca</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password" name="pw" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
  </div>
  <div class="form-group">
  	<label for="exampleInputPassword1">Confirma contraseña</label>
	 <input type="password" name="pwconf" class="form-control" id="exampleInputPassword1" placeholder="Confirmar contraseña">
  </div>
  <div>
  	<button type="submit" class="btn btn-primary">Registrarse</button>
  </div>
</form>
{% endblock %}