{% extends "base.html" %}
{% block header %}Proyecto TICs - Usuario{% endblock %}
{% block body %}
<style>
	h2 {text-align: center;}
	#user {
		margin: auto;
  		width: 50%;
  		padding: 10px;
	}
</style>
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
  {{msg}}
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
<div id="user">
	<h3>Perfil </h3><p style="font-size:18px;"><b>Usuario: </b>{{ session["user"] }}</p>
	<form action="#" method="POST">
		<p style="font-size:18px;"><b>E-mail 📧: </b><input class="form-control" size="20" type="email" name="email" placeholder="E-mail" value="{{session['email'] if session['email']}}"></input></p>
		<p style="font-size:18px;"><b>Nombre 🧍: </b><input class="form-control" size="20" type="text" name="real_name" placeholder="Nombre completo" value="{{session['name'] if session['name']}}"></input></p>
		<p><input class="btn btn-primary" type="submit" value="Actualizar ⬆️"/></p>
	</form>
	<button type="button" onclick="log_out()"; class="btn btn-danger">Salir ❌</button>
	<script >function log_out(){location.href = "/logout/"}</script>
	{% if session["role"] == "ADMIN" %}
		<button type="button" onclick="admin_panel()"; class="btn btn-secondary">Panel de administrador 🛠️</button>
		<script >function admin_panel(){location.href = "/admin/"}</script>
	{% endif %}
</div>
{% endblock %}