{% extends "base.html" %}
{% block header %}Proyecto TICs - Usuario{% endblock %}
{% block body %}
<style>
	h2 {text-align: center;}
</style>
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <div><p style="color:green">{{msg}}</p></div>
      {% endfor %}
    {% endif %}
  {% endwith %}
<div>
	<h2>Perfil </h2><p style="font-size:18px;"><b>Usuario: </b>{{ session["user"] }}</p>
	<form action="#" method="POST">
		<p style="font-size:18px;"><b>E-mail: </b><input type="email" name="email" placeholder="E-mail" value="{{session['email'] if session['email']}}"></input></p>
		<p style="font-size:18px;"><b>Nombre: </b><input type="text" name="real_name" placeholder="Nombre completo" value="{{session['name'] if session['name']}}"></input></p>
		<p><input type="submit" value="Actualizar"/></p>
	</form>
	<button type="button" onclick="log_out()"; class="btn btn-danger">Salir</button>
	<script >function log_out(){location.href = "/logout/"}</script>
	{% if session["role"] == "ADMIN" %}
		<button type="button" onclick="admin_panel()"; class="btn btn-primary">Panel de administrador</button>
		<script >function admin_panel(){location.href = "/admin/"}</script>
	{% endif %}
</div>
{% endblock %}